{% set breadcrumbs = [
{href: '/', txt: 'Главная'},
{href: 'wiki.html', txt: 'Wiki'},
] %}

{% set table = {
heads: [
{txt: 'Height'},
{txt: 'Hash'},
{txt: 'Type'},
{txt: 'Age'},
{txt: 'Difficult'},
{txt: 'Transactions'},
{txt: 'Total Out'},
{txt: 'Block size'},
{txt: 'TX Size'},
{txt: ''},
],
items: [
{
state: 'table__tr--light',
list: [{txt: '317173', state:'blue'},{txt: 'f29eceb1c18aced7...'},{txt: 'PoS', state: 'red'},{txt: '10 min'},{txt: '6.315659'},{txt: '2'},{txt: '18.368100'},{txt: '411'}, {txt: '2', state: 'red'}, {txt: 'Pow Gen', state: 'black'}]

},

{
list: [{txt: '317173', state:'blue'},{txt: 'f29eceb1c18aced7...'},{txt: 'PoS', state: 'red'},{txt: '10 min'},{txt: '6.315659'},{txt: '2'},{txt: '18.368100'},{txt: '411'}, {txt: '2', state: 'red'}, {txt: 'Pow Gen', state: 'black'}]

},

]} %}


{% set blogList = [
{title: 'Очередной билд', fromBy: 'admin', date: '24 сентября 2015', href: '#', content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut distinctio eum ex labore laudantium minima nostrum quo sit, soluta.' },
{title: 'Очередной билд', fromBy: 'admin', date: '24 сентября 2015', href: '#', content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut distinctio eum ex labore laudantium minima nostrum quo sit, soluta.' },
{title: 'Очередной билд', fromBy: 'admin', date: '24 сентября 2015', href: '#', content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut distinctio eum ex labore laudantium minima nostrum quo sit, soluta.' },
{title: 'Очередной билд', fromBy: 'admin', date: '24 сентября 2015', href: '#', content: ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut distinctio eum ex labore laudantium minima nostrum quo sit, soluta.' }
] %}

{% set accordion = [
{title: "Что такое", index: 1},
{title: "Как это работает", index: 2},
{title: "Выпуск (эмиссия)", index: 3},
{title: "Технические детали", index: 4},
] %}
{% extends '../blocks/layout/layout.twig' %}
{% block content %}
    <main class="main main--theme-gray">
        <div class="main__i">
            {% embed '../blocks/banner/banner.twig' with {bannerClass: 'banner--type-presentation banner--type-wiki'}%}
                {% block content %}
                    <div class="banner__info">
                        <div class="banner__breadcrumbs">
                            {% include '../blocks/breadcrumbs/breadcrumbs.twig' %}
                        </div>
                        <h2 class="banner__title banner__title--large">
                            Wiki
                        </h2>
                    </div>
                {% endblock %}
            {% endembed %}

            <div class="accordion-list container">
                {% include '../blocks/title/title.twig' with {
                    titleTxt: 'Основные принципы',
                    h3: true,
                    titleClass: 'accordion-list__title title--xs-small title--aligment-left'
                } %}

                {% embed '../blocks/accordion/accordion.twig' %}
                    {% block content %}
                        {% for item in accordion %}
                            <li class="accordion__item {{ item.defaultState }} js-accordion-item" data-eq="{{ item.index }}">
                                <header class="accordion__header js-accordion-header">
                                    <h3 class="accordion__title">{{ item.title }}</h3>
                                    <i class="accordion__icon">
                                        {% include '../blocks/icon/icon.twig'  with {
                                        icon: 'arrow-dropdown',
                                        iconClass: 'arrow-accordion-down'
                                        } %}
                                    </i>
                                </header>
                                <div class="js-accordion-content accordion__content accordion__wysiwyg wysiwyg">
                                    <p><b>Lorem</b> ipsum dolor sit amet, consectetur adipisicing elit. Facilis laudantium nemo obcaecati reprehenderit tempora ut. Cumque expedita maxime nesciunt obcaecati!</p>
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                    </ul>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</h3>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis consectetur cumque delectus earum enim et minima molestiae quam quisquam?</p>
                                </div>
                            </li>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}

                {% include '../blocks/title/title.twig' with {
                titleTxt: 'Базовые определения',
                h3: true,
                titleClass: 'accordion-list__title title--xs-small title--aligment-left'
                } %}

                {% embed '../blocks/accordion/accordion.twig' %}
                    {% block content %}
                        {% for item in accordion %}
                            <li class="accordion__item {{ item.defaultState }} js-accordion-item" data-eq="{{ item.index }}">
                                <header class="accordion__header js-accordion-header">
                                    <h3 class="accordion__title">{{ item.title }}</h3>
                                    <i class="accordion__icon">
                                        {% include '../blocks/icon/icon.twig'  with {
                                        icon: 'arrow-dropdown',
                                        iconClass: 'arrow-accordion-down'
                                        } %}
                                    </i>
                                </header>
                                <div class="js-accordion-content accordion__content accordion__wysiwyg wysiwyg">
                                    <p><b>Lorem</b> ipsum dolor sit amet, consectetur adipisicing elit. Facilis laudantium nemo obcaecati reprehenderit tempora ut. Cumque expedita maxime nesciunt obcaecati!</p>
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore ipsum porro quae quo quod sapiente sit totam veniam vero!</li>
                                    </ul>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis consectetur cumque delectus earum enim et minima molestiae quam quisquam?</p>
                                </div>
                            </li>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </main>
{% endblock %}
